/* style resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* style start */



header {
    background-color: #0a90b1;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 4em;
}

.img-container {
    flex: 1;
    display: flex;
    background-image: url("assets/profile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    position: relative;
    left: 4em;
}

.img-container p {
    width: 100%;
    color: white;
    font-size: 190%;
    text-align: center;

}

article {
    background-color: white;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;

}

article h1 {
    font-weight: 400;
    font-size: xx-large;
}

article .links {
    align-self: end;
}

main {
    background-color: white;
    padding: 6em;

}

h2 {
    font-size: xx-large;
    font-weight: 400;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4em;
}

.card {
    border: 2px black solid;
    height: min-content;

}

.card>div:first-child {
    height: 200px;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.card p {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}


.card-title {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;

    padding-left: 2em;
    padding-right: 2em;


}

.links {
    width: 1.3em;
    display: flex;
    gap: 0.8em;
}

.links svg,
a svg {
    flex-shrink: 0;
}


.medium {
    width: 1.1em;
    gap: 0.6em;
}

.small {
    width: .9em;
    gap: 0.3em;
}

footer {
    background-color: #0a90b1;
    color: white;
    display: flex;
    width: 100vw;
    padding: 3em;
    gap: 2em;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 40%;
}