/* style resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* style start */



header {
    background-color: #0a90b1;
}

main {
    background-color: white;
}

.card {
    border: 2px black solid;
}

.links {
    width: 1.3em;
}


.medium {
    width: 1.1em;
}

.small {
    width: .9em;
}

footer {
    background-color: #0a90b1;
    color: white;
    display: flex;
    width: 100vw;
    padding: 3em;
    gap: 2em;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 40%;
}